.navigator {
  /* background-color: rgb(57, 57, 57); */

  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  position: fixed;
  margin: 0 auto;
  bottom: 100px;
}

.navigator__btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.navigator__btn:hover {
  border: 1px solid white;
  transform: scale(1.2) translateY(-10px);
  a
}
.btn-image {
  width: 52px;
  height: 52px;
}

.btn__left {
  margin-left: 10px;
}

.btn__right {
  margin-right: 10px;
}
